name: Build-OpenCvSharp

on:
  push:
    branches: 
      - main
    paths: 
      - .github/workflows/opencvsharp.yml
      - 'eng/opencvsharp.patch'
  workflow_dispatch:

env:
  OPENCVSHARP_VERSION: 4.11.0.20250507

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.runs-on }}
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        include:
        - { os: ubuntu.24.04, arch: x64,   runs-on: ubuntu-24.04 }
        - { os: ubuntu.24.04, arch: arm64, runs-on: ubuntu-24.04-arm }
        - { os: osx,          arch: x64,   runs-on: macos-14 }
        - { os: osx,          arch: arm64, runs-on: macos-14 }

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download OpenCV Artifacts
      env:  
        GH_TOKEN: ${{ github.token }}  
      run: |  
        echo "Fetching latest run of opencv.yml on branch ${{ github.ref_name }}"  
        RUN_ID=$(gh run list -R ${{ github.repository }} --workflow=opencv.yml --branch=${{ github.ref_name }} --status=success --limit=1 --json databaseId | jq -r '.[0].databaseId')  
        echo "Latest opencv run ID: $RUN_ID"  
          
        echo "Downloading artifact 'opencv' from run ${RUN_ID}"  
        gh run download -R ${{ github.repository }} $RUN_ID --name opencv-${{ matrix.os }}-${{ matrix.arch }} --dir opencv

        echo "::group::OpenCV Artifacts"
        ls -lR opencv
        echo "::endgroup::"

    - name: Checkout OpenCvSharp
      uses: actions/checkout@v4
      with: 
        repository: shimat/opencvsharp
        ref: ${{ env.OPENCVSHARP_VERSION }}
        path: opencvsharp

    - name: Apply Patches
      run: |
        cd opencvsharp
        git apply --ignore-whitespace ../eng/opencvsharp.patch

    - name: Install Dependencies
      run: |
        if [[ "${{ matrix.os }}" =~ ^ubuntu ]]; then
          sudo apt-get update
          sudo apt-get install -y build-essential cmake pkg-config
        fi

    - name: Configure OpenCvSharp
      run: |
        set -eux
        OpenCV_DIR="${{ github.workspace }}/opencv/lib/cmake/opencv4"
        
        cd opencvsharp && mkdir build && cd build
        cmake \
          -D CMAKE_INSTALL_PREFIX="${{ github.workspace }}/opencvsharp/build" \
          -D OpenCV_DIR="$OpenCV_DIR" \
          ../src

    - name: Build OpenCvSharp
      run: |
        set -eux
        cd opencvsharp/build
        make -j$(nproc)

    - name: Strip OpenCvSharpExtern
      run: |
        set -eux
        cd opencvsharp/build
        BIN="OpenCvSharpExtern/libOpenCvSharpExtern.so"

        if [[ "${{ matrix.os }}" =~ ^osx ]]; then
          BIN="OpenCvSharpExtern/libOpenCvSharpExtern.dylib"
          strip -x "$BIN"
        else  # Linux
          strip --strip-unneeded "$BIN"
        fi

        echo "Size after strip:"
        du -h "$BIN"

    - name: Show OpenCvSharp Artifacts
      run: |
        cd opencvsharp/build
        echo "::group::OpenCvSharp Artifacts"
        ls -lR
        echo "::endgroup::"

        if [[ "${{ matrix.os }}" =~ ^osx ]]; then
          otool -L OpenCvSharpExtern/libOpenCvSharpExtern.dylib
        else  # Linux
          ldd OpenCvSharpExtern/libOpenCvSharpExtern.so
        fi

    - name: Make artifacts
      run: |
        mkdir artifacts && cd artifacts && mkdir lib test
        cp -r ../opencvsharp/build/OpenCvSharpExtern/libOpenCvSharpExtern.* ./lib
        ls -lR

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: opencvsharp-${{ matrix.os }}-${{ matrix.arch }}
        path: artifacts