name: Build-OpenCV

on:
  push:
    branches: [ main ]
    paths: [ .github/workflows/opencv.yml ]
  workflow_dispatch:

env:
  OPENCV_VERSION: 4.11.0
  OPENCV_CMAKE_ARGS: >-
    -D CMAKE_BUILD_TYPE=Release
    -D OPENCV_FORCE_3RDPARTY_BUILD=ON
    -D OPENCV_EXTRA_MODULES_PATH="${{ github.workspace }}/opencv_contrib/modules"
    -D CMAKE_INSTALL_PREFIX="${{ github.workspace }}/opencv/build/install"
    -D BUILD_LIST=core,imgproc,imgcodecs,videoio
    -D BUILD_SHARED_LIBS=OFF
    -D BUILD_EXAMPLES=OFF
    -D BUILD_DOCS=OFF
    -D BUILD_PERF_TESTS=OFF
    -D BUILD_TESTS=OFF
    -D BUILD_JAVA=OFF
    -D WITH_GSTREAMER=ON
    -D WITH_ADE=OFF
    -D WITH_FFMPEG=ON
    -D WITH_V4L=ON
    -D WITH_1394=OFF
    -D WITH_GTK=OFF
    -D WITH_OPENEXR=OFF
    -D WITH_PROTOBUF=OFF
    -D WITH_QUIRC=OFF
    -D WITH_AVFOUNDATION=ON
    -D OPENCV_ENABLE_NONFREE=OFF

jobs:
  build:
    defaults:
      run:
        shell: bash

    runs-on: ${{ matrix.runs-on }}

    strategy:
      matrix:
        include:
        - { os: ubuntu.24.04, arch: x64,   runs-on: ubuntu-24.04 }
        - { os: ubuntu.24.04, arch: arm64, runs-on: ubuntu-24.04-arm }
        - { os: osx,          arch: x64,   runs-on: macos-14 }
        - { os: osx,          arch: arm64, runs-on: macos-14 }

    steps:
    - name: Checkout OpenCV repo
      uses: actions/checkout@v4
      with:
        repository: opencv/opencv
        ref: ${{ env.OPENCV_VERSION }}
        path: opencv
        fetch-depth: 1

    - name: Checkout OpenCV Contrib repo
      uses: actions/checkout@v4
      with:
        repository: opencv/opencv_contrib
        ref: ${{ env.OPENCV_VERSION }}
        path: opencv_contrib
        fetch-depth: 1

    - name: Install Dependencies
      run: |
        if [[ "${{ matrix.os }}" =~ ^ubuntu ]]; then
          sudo apt-get update
          sudo apt-get install -y build-essential cmake pkg-config \
            libavcodec-dev libavformat-dev libswscale-dev \
            libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev \
            libv4l-dev v4l-utils
        elif [[ "${{ matrix.os }}" =~ ^osx ]]; then
          brew install pkg-config ffmpeg
        fi

    - name: Configure OpenCV
      run: |
        cd opencv && mkdir build && cd build
        cmake ${{ env.OPENCV_CMAKE_ARGS }} ..

    - name: Build OpenCV
      run: |
        cd opencv/build
        make -j$(nproc)

    - name: Install OpenCV
      run: |
        cd opencv/build
        make install

    - name: Show Build Artifacts
      run: |
        cd opencv/build && ls -lR

    - name: Make artifacts
      run: |
        mkdir artifacts
        cp -r opencv/build/install/* artifacts

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: opencv-${{ matrix.os }}-${{ matrix.arch }}
        path: artifacts
